@media (min-width: 321px) {
  body {
    font-size: 13px;
  }
  .describe {
    padding-top: 10px;
  }
  h2 {
    font-size: 16px;
  }
  .download-button {
    width: 260px;
    height: 85px;
    font-size: 26px;
  }
  .disabled {
    line-height: 55px;
  }
}

.ios .android {
  display: none;
}
.android .ios {
  display: none;
}